.toast {
    position: absolute;
    left: 50%;
    margin-left: -246px;
    opacity: 1;
    overflow-y: hidden;
    transition-property: all;
    z-index: 99999;
}

.toast.hide {
    transition-property: all;
    opacity: 0;
}
